<ng-container *ngIf="!loadingError; errorTemplate">
    <h1 class="mat-display-2 title">Your details are:</h1>
    <ng-container *ngIf="!loading">
        <mat-card class="card">
            <div class="icon-container">
                <div class="big-icon">
                    <mat-icon aria-hidden="true" color="primary" inline="true">person</mat-icon>
                </div>
            </div>
            <div class="content-container">
                <div class="card-title">
                    <h2>{{user.name}}</h2>
                </div>
                <div class="details">
                    <div>
                        <p>Born on {{user.dob | date}}</p>
                        <p>{{user.age}} years old</p>
                        <p>{{user.gender}}</p>
                    </div>
                    <div>
                        <p class="flex-aligned-display">
                            <mat-icon>smartphone</mat-icon>
                            <span>{{user.phone}}</span>
                        </p>
                        <p class="flex-aligned-display">
                            <mat-icon>email</mat-icon>
                            <span>{{user.email}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </mat-card>
        
        <a *ngIf="isAdmin" mat-raised-button routerLink="../users">
            <span class="center-align">
                <mat-icon>arrow_back</mat-icon><span> Go back to users list</span>
            </span>
        </a>
    </ng-container>
</ng-container>

<ng-template #errorTemplate>
    <p class="mat-display-3 title">Oops!! We've hit a snag. Please try after some time.</p>
</ng-template>