.main-container {
    display: flex;
    justify-content: center;
    padding: 10vh 0px;
}

.main-container.is-logged-in {
    margin-top: -30px;
}

.sign-out {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
